.outblock:hover .textin {
    color: white;
}

.outblock {
    background-color: rgb(229, 243, 220);
}

.border {
    border: black solid 2px;
    border-radius: 5px;
}

.container {
    min-height: 100vh;
}

.avatar {
    height: 75px;
}

.image {
    height: 200px;
}

td {
    padding-right: 10px;
}
